*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    padding: 100px 10%;
}
#header{
    margin-bottom: 50px;
}
#header-main{
    font-size: 2.0rem;
    margin-bottom: 10px;
}
#sub-header{
    font-size: 0.9rem;
}
a{
    color: #38bdf8;
}
#library{
    display: grid;
    row-gap: 20px;
}
table{
    border-collapse: collapse;
    text-align: center;
}
tr{
    border-bottom: 1px solid #a3a3a3;
}
td{
    padding: 5px 0px;
}
button{
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 400;
    width: 120px;
    height: 40px;
    color: white;
}
#add-button{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    background-color: #38bdf8;
}
#add-button:hover{
    font-weight: 600;
}
.read-button{
    text-align: center;
    width: 120px;
    height: 20px;
    font-size: 0.8rem;
    display: block;
    margin: 5px auto;
    background: none;
}

#book-entry{
    visibility: hidden;
    grid-row: 3 / 4;
    grid-column: 1/ 2;
    align-self: center;
    justify-self: center;
}
.button-container{
    padding-top: 20px;
}
.delete-button, .button-container button{
    background-color: #db2777;
}
.read-button:hover, .delete-button:hover, .button-container button:hover{
    font-weight: 600;
}

input:not([type="checkbox"]){
    appearance: none;
    border: 1px solid #a1a1aa;
    border-radius: 4px;
    width: 200px;
    height: 20px;
}
input:not([type="checkbox"]):focus{
    outline: none;
    border: 1px solid #a855f7;
}